= form_for [:author, post] do |f|
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :body
    = f.text_area :body
  %p
    = f.submit "Save"
    = link_to "Back", author_posts_path
