%h1 Posts
%ul#posts
  - posts.each do |post|
    %li
      %p= post.title
      %p= post.body
      %p
        = link_to "edit", edit_author_post_path(post)
        = link_to "remove", author_post_path(post), :method => :delete, :confirm => "Are you sure?"

%p= link_to 'Add Post',new_author_post_path 
