= content_for :title, "Bragi"
= content_for :meta_description, "Bragi - My ramblings about Web Programming, Ruby, Javascript and other topics"

- posts.each do |post|
  .post-header
    %h2= link_to post.title, post_path(post.slug)
    %span.date= post.formated_date
    %span.header= post.header
