= content_for :title, "Bragi - #{post.title}"

.post
  %h2= post.title 
  %span.date= post.formated_date
  = raw post.body
  .section
    %div#disqus_thread

:javascript
  var disqus_developer = 1;
  var disqus_shortname = 'poemofbragi';
  var disqus_identifier = '#{post.id}';
  var disqus_url = '#{post_path(post)}';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

